.git
.gitignore
__pycache__
*.py[cod]
*$py.class
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/
.env
.env.*
!.env.prod.example
*.log
db.sqlite3
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
.docker/
.vscode/
.idea/
media/
