DEBUG=False
DJANGO_SECRET_KEY=change_me_to_a_very_secret_key
ALLOWED_HOSTS=yikkan.com,www.yikkan.com,localhost,127.0.0.1

POSTGRES_DB=uz_checkpoint
POSTGRES_USER=uz_user
POSTGRES_PASSWORD=change_me_to_strong_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
