# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.prod
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Docker
.docker/

# IDE
.vscode/
.idea/
node_modules/
test-results/
playwright-report/

# OS
.DS_Store
Thumbs.db
